{:save-filename "course-list.edn", :save-period 600, :auto-save true, :auto-enroll true, :course-regex "(?:MATH|CSSE|COMP|INFS|ENGG|PHYS|SCIE|COSC|STAT|DECO|MECH)\\d{4}", :additional-roles #{}, :charts []}